  <div class="navbar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
    <div class="w-container">
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div><img class="image" src="/images/SOCKET.IO-VERDE.png" width="250">
    </div>
  </div>